<form asp-action="Check" method="post" role="form">
    <h3 class="my-5">
        Check if you hawe a fever
    </h3>

    <div class="col-6">
        @if (ViewBag.Temp != null)
        {
            <div class="row g-2">
                <div class="text-center d-grid">
                    <p>@ViewBag.Temp</p>
                </div>
            </div>
        }
        <div class="row g-2">
            <div class="col-12">
                <label for="temp" class="form-label">Temp</label>
                <input type="number" name="input" min="28" max="45" />
            </div>
        </div>
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-secondary" value="Test" />
        </div>
    </div>

</form>
<form asp-action="Check" method="post" role="form">
    <h3 class="my-5">
        Check if you hawe a fever
    </h3>

    <div class="col-6">
        @if (ViewBag.Temp != null)
        {
            <div class="row g-2">
                <div class="text-center d-grid">
                    <p>@ViewBag.Temp</p>
                </div>
            </div>
        }
        <div class="row g-2">
            <div class="col-12">
                <label for="temp" class="form-label">Temp</label>
                <input type="number" name="input" min="28" max="45" />
            </div>
        </div>
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-secondary" value="Test" />
        </div>
    </div>

</form>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
</table> 