@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Kurser</div>
        <div class="card-body text-primary">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">1998 Basic HTML.</li>
                <li class="list-group-item">2000 Basic PHP.</li>
                <li class="list-group-item">2005 PHP and Databaser ”Mysql”.</li>
                <li class="list-group-item">2010 Photoshop create webbdesign.</li>
                <li class="list-group-item">2012 First attempt on developing a PHP framework. </li>
                <li class="list-group-item">2013 First attempt at deploying my framework for goteneck.se.</li>
                <li class="list-group-item">2017 Finding Slim Framework.</li>
                <li class="list-group-item">2017 My notification system and deploying site nyakinnekullerundan.se.</li>
                <li class="list-group-item">2018 Game Engien Development from Youtube</li>
                <li class="list-group-item">2019 Laravel and my booking site for “bed and breakfast” for learning.</li>
                <li class="list-group-item">2019 Developing a MVC in PHP for learning.</li>
                <li class="list-group-item">2020 Adobe XD for Webdesign.</li>
                <li class="list-group-item">2021 Locking at .Net</li>
                <li class="list-group-item">2022 Basic C#</li>
            </ul>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">LICENSES & CERTIFICATES</div>
        <div class="card-body text-primary">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">PHP: Creating Secure Websites</li>
                <li class="list-group-item">Ajax with PHP: Add Dynamic Content to WebsitesAjax with PHP: Add Dynamic Content to Websites</li>
                <li class="list-group-item">Learning Git and GitHubLearning Git and GitHub</li>
                <li class="list-group-item">MVC Frameworks for Building PHP Web ApplicationsMVC Frameworks for Building PHP Web Applications</li>
                <li class="list-group-item">PHP Essential TrainingPHP Essential Training</li>
                <li class="list-group-item">PHP with MySQL Essential Training: 1 The BasicsPHP with MySQL Essential Training: 1 The Basics</li>
                <li class="list-group-item">PHP with MySQL Essential Training: 2 Build a CMSPHP with MySQL Essential Training: 2 Build a CMS</li>
                <li class="list-group-item">PHP: Object-Oriented ProgrammingPHP: Object-Oriented Programming</li>
                <li class="list-group-item">PHP: Object-Oriented Programming with DatabasesPHP: Object-Oriented Programming with Databases</li>
                <li class="list-group-item">Advanced LaravelAdvanced Laravel</li>
                <li class="list-group-item">Learning PHPLearning PHP</li>
                <li class="list-group-item">Programming Foundations: AlgorithmsProgramming Foundations: Algorithms</li>
                <li class="list-group-item">HTML Essential Training</li>
            </ul>
        </div>
    </div>
</div>
