@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center">Prodjects</h1>
<hr>

<div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Front end HTML</h5>
        <p class="card-text">En enkel sida skapad i html utan css</p>
        <a href="https://github.com/sky-wolf/Frontend-html/tree/main/html" class="card-link">GitHub link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Front end Css</h5>
        <p class="card-text">En enkel sida skapad i html med css</p>
        <a href="https://github.com/sky-wolf/Frontend-html/tree/main/css" class="card-link">GitHub link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Skoban</h5>
        <p class="card-text">Ett spel som går utt på att flytta en box till ett mål skapa i html, css och javascript</p>
        <a href="https://github.com/sky-wolf/Sokoban" class="card-link">GitHub link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">XUnit Test Calculator</h5>
        <p class="card-text">Testar så calulatorn gör vad den ska genom test frågor</p>
        <a href="#" class="card-link">GitHub link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Calculater</h5>
        <p class="card-text">Concole enkel calculator i C#</p>
        <a href="#" class="card-link">GitHub link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Hangman</h5>
        <p class="card-text">Concole Hang man utan grafiska elemen i C#</p>
        <a href="#" class="card-link">GitHub link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vending machine</h5>
        <p class="card-text">Concole Vending machine back and med andvändning av arv i C#</p>
        <a href="#" class="card-link">GitHub link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">XUnit Test Calculator</h5>
        <p class="card-text">Testar så calulatorn gör vad den ska genom test frågor</p>
        <a href="#" class="card-link">GitHub link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Arena figther</h5>
        <p class="card-text">Concole  spel som låter spelaren rulla tärning för att se hur mycket skada som ska utdelas i C#</p>
        <a href="#" class="card-link">GitHub link</a>
      </div>
    </div>
</div>