@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1 class="text-center">Contact information</h1>
<hr>



    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Anders Lann</h5>
        </div>
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">808.513.0569</li>
            <li class="list-group-item">Västra Götaland</li>
            <li class="list-group-item">anders@Chilicase.com</li>
            <li class="list-group-item">Chilicase.com</li>
        </ul>

    </div>

