@model IdentityRole


<h1>Create role</h1>

<form asp-action="Create" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name"></input>
    <input type="submit" value="Create" />
</form>