@model City


<h1>New city for @ViewBag.Country</h1>

<form asp-action="Create" method="post">
    <input type="hidden" id="id" value="@ViewBag.Country" />
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <input type="submit" value="Create" />
</form>