@model PersonDB
<div class="row">
    <div class="col-4">
        @Model.Id
    </div>
    <div class="col-2">
        @Model.Name
    </div>
    <div class="col-2">
        @Model.PhoneNumber
    </div>
    <div class="col-2">
        @Model.City.Name
    </div>
    <div class="col-2">
    </div>
</div>
